<h1>{{pageTitle}}</h1>
<section *ngIf="post">
  <form novalidate autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="form-group" [ngClass]="{'has-error': (form.get('title').touched || form.get('title').dirty) && !form.get('title').valid }">
      <label for="titleId">Title</label>
      <input class="form-control" id="titleId" type="text" placeholder="Title (required)" formControlName="title" />
      <div class="help-block" *ngIf="form.get('title').hasError('required') && form.get('title').touched">
        Title is required.
      </div>
      <div class="help-block" *ngIf="form.get('title').hasError('minlength') && form.get('title').touched">
        Please enter at least than 3 characters.
      </div>
    </div>
    <div class="form-group" [ngClass]="{'has-error': (form.get('content').touched || form.get('content').dirty) && !form.get('content').valid }">
      <textarea rows="10" id="content" name="content" class="form-control" formControlName="content"></textarea>
      <div class="help-block" *ngIf="form.get('content').hasError('required') && form.get('content').touched">
        Content is required.
      </div>
    </div>
    <input type="submit" value="Publish" class="btn btn-default">
  </form>
</section>