.entry-header{
    display: block;
    padding-bottom: 12px;
}
.entry-content{
    padding-bottom: 24px;
}

.separator-20{
    margin-top: 10px;
    padding-top: 10px;
}

.alert{
    margin-top: 20px;
}